<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;600&family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet"  type="text/css" href="{{ url_for('.static', filename='style.css')}} ">
        <title>{{ title }}</title>
    </head>
    <body>  
        <header> 
            <a href="index.html" class="logo">ZypherGames</a>
            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                <ul>
                    <button class="dark-mode-toggle">Dark Mode</button>
                    <li><a href="Games.html">Games</a></li>
                    <li><a href="FreeStyle.html">FreeStyle</a></li>
                    <li><a href="Minecraft-Home.html">Minecraft</a></li>
                    <li><a href="login.html"></a></li>
                    <li><a href="signup.html"></a></li>
                </ul>
            </nav>
        </header>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        {% block main %}
        {% endblock %}

    <script>
        setTimeout(function() {
            let alerts = document.querySelectorAll('.alert');
            alerts.forEach(alert => {
                alert.style.transition = 'opacity 0.5s';
                alert.style.opacity = '0';
                setTimeout(() => alert.remove(), 500);
            });
        }, 3000);
        </script>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>
</html>